extends layout
block content
    h4 #{cards[0].name}

    p #{cards[0].text}
    p
        em #{flavor}

    for deck in decks
        a(href="/deck/#{deck._id}") #{deck.name}
        br

    for card in cards
        img(src="#{card.imageUrl}")
