extends layout
block content
    h2 #{deck.name}
    p #{deck.metaPercentage}% of #{format} meta

    h3 Maindeck
    for card in deck.maindeck
        p #{card.quantity} x #{card.name}

    if deck.sideboard
        h3 Sideboard
        for card in deck.sideboard
            p #{card.quantity} x #{card.name}
